@charset "utf-8";

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td
{
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}
:focus { outline: 0; }
body
{
	line-height: 1;
	color: #000;
	background: #FFF;
}
ol, ul { list-style: none; }
table { border-collapse: separate; border-spacing: 0; }
caption, th, td { text-align: left; font-weight: normal; }
blockquote:before, blockquote:after, q:before, q:after { content: ""; }
blockquote, q { quotes: "" ""; }

div.section { padding: 1em; }

span { font-family: Consolas, "Courier New", Courier, monospace; }
span.newline { color: gray; font-size: .6em;  vertical-align: .2em;}
span.space:before { content: 'abba'; }
span.comment-line { color: green; font-style:italic; }
span.keyword { color: blue; }
span.entity { color:red; }
span.entity-quote { color:black; }
span.entity-schema { font-weight: bold; }
